try {
    load('/root/.mongorc.js');
} catch(err) {}

db = db.getSiblingDB('admin');
var existinguser = db.getUser('{{ mongodb.username }}');

if(existinguser == null) {
  db.createUser({user: '{{ mongodb.username }}', pwd: '{{ mongodb.password }}', roles: [ { role: 'root', db: 'admin' } ]})
} else {
  db.updateUser('{{ mongodb.username }}', {pwd: '{{ mongodb.password }}'});
}
