{% for shopt, active in bash.config.shopt.items() %}
{% if active %}
shopt -s {{ shopt }}
{% endif %}
{% endfor %}

{% for alias, value in bash.config.alias.items() %}
alias {{ alias }}='{{ value }}'
{% endfor %}

{% for export, value in bash.config.export.items() %}
export {{ export }}={{ value }}
{% endfor %}

cd /vagrant
