- name: add key
  apt_key:
    url: https://packagecloud.io/gpg.key

- name: add repository
  apt_repository:
    repo: 'deb http://packages.blackfire.io/debian any main'

- name: install
  apt:
    name: blackfire-agent

- name: update config
  template:
    src: agent.ini.j2
    dest: /etc/blackfire/agent
  register: configuration

- name: restart blackfire
  systemd:
    name: blackfire-agent
    state: restarted
  when: configuration.changed

- name: copy .blackfire.ini file for user root
  template:
    src: blackfire.ini.j2
    dest: /root/.blackfire.ini
    owner: root
    group: root
    mode: 0600

- name: copy .blackfire.ini file for user vagrant
  template:
    src: blackfire.ini.j2
    dest: /home/vagrant/.blackfire.ini
    owner: vagrant
    group: vagrant
    mode: 0600
