# shell layout
export CLICOLOR='true'
export PS1='\[\033[1;32m\]\h \[\033[1;37m\]\w \u \\$ '

export EDITOR='{{ general.config.editor }}'

export HISTSIZE={{ general.config.history_length }}
export HISTFILESIZE={{ general.config.history_length }}

alias cls='printf "\033c"'

cd /vagrant
