
{% macro renderDictionary(values) %}
    {% for key, value in values.items() %}
        {{ renderValue(key, value) }}
    {% endfor %}
{% endmacro %}

{% macro renderList(key, list) %}
    {% for value in list %}
        {{ renderValue(key, value) }}
    {% endfor %}
{% endmacro %}

{% macro renderValue(key, value) %}
    {% set json = value|tojson %}
    {% if json[0]|default('') == '[' %}
        {{ renderList(key, value) }}
    {% elif json[0]|default('') == '{' %}
        {{ key }} {
            {{ renderDictionary(value) }}
        }
    {% else %}
        {{ key }} {{ value }};
    {% endif %}
{% endmacro %}

{% for config in nginx.server %}
    {% set template = nginx.templates[config.template] %}

    {% set serverNameParts = config.server_name.split(' ') %}

    {% set _ = template.update({
        'root': config.root,
        'server_name': config.server_name,
        'ssl_certificate_key': '/etc/nginx/' ~ serverNameParts[0] ~ '.key',
        'ssl_certificate': '/etc/nginx/' ~ serverNameParts[0] ~ '.crt'
    }) %}

    {% set _ = nginx.config.http.server.append(template) %}
{% endfor %}

{{ renderDictionary(nginx.config) }}
