{% macro server(servername, baseRootDir, application) %}
    server {
        listen 80;
        listen 443 ssl;

        server_name {{ servername }};

        ssl_certificate /etc/nginx/certificate;
        ssl_certificate_key /etc/nginx/privatekey;

        set $baseRootDir {{ baseRootDir }};

        {% if application %}
            include application/{{ application }}.conf;
        {% else %}
            root $baseRootDir;

            index index.php;
        {% endif %}

        proxy_buffer_size {{ nginx.config.proxy_buffer_size }};
        proxy_buffers {{ nginx.config.proxy_buffers }};
        proxy_busy_buffers_size {{ nginx.config.proxy_busy_buffers_size }};

        location ~ ^(.+\.php)(.*)$ {
            fastcgi_split_path_info ^(.+\.php)(.*)$;
            try_files $fastcgi_script_name =404;
            set $wtf $fastcgi_path_info;
            fastcgi_param PATH_INFO $wtf;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_pass unix:/{{ nginx.config.fastcgi_socket }};
            fastcgi_read_timeout {{ nginx.config.fastcgi_read_timeout }};
            fastcgi_buffer_size {{ nginx.config.proxy_buffer_size }};
            fastcgi_buffers {{ nginx.config.proxy_buffers }};
            fastcgi_busy_buffers_size {{ nginx.config.proxy_busy_buffers_size }};
            include fastcgi_params;
        }

        {% if phpversion == 'hhvm' %}
            location ~ ^(.+\.hh)(.*)$ {
                fastcgi_split_path_info ^(.+\.hh)(.*)$;
                try_files $fastcgi_script_name =404;
                set $wtf $fastcgi_path_info;
                fastcgi_param PATH_INFO $wtf;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_pass unix:/{{ nginx.config.fastcgi_socket }};
                fastcgi_read_timeout {{ nginx.config.fastcgi_read_timeout }};
                fastcgi_buffer_size {{ nginx.config.proxy_buffer_size }};
                fastcgi_buffers {{ nginx.config.proxy_buffers }};
                fastcgi_busy_buffers_size {{ nginx.config.proxy_busy_buffers_size }};
                include fastcgi_params;
            }
        {% endif %}
    }
{% endmacro %}

user vagrant vagrant;
worker_processes 4;
error_log {{ nginx.config.error_log }};
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include mime.types;

    charset {{ nginx.config.charset }};
    gzip on;
    sendfile off;
    client_max_body_size {{ php.config.fpm.php.post_max_size }};

    {% if not subhosts %}
        {{ server(hostname, '/vagrant', application) }}
    {% else %}

        server {
            listen 80;
            listen 443 ssl;

            server_name {{ hostname }};

            ssl_certificate /etc/nginx/certificate;
            ssl_certificate_key /etc/nginx/privatekey;

            add_header Content-Type text/html;

            return 200 '
            <h1>multihost system</h1>
            <ul>
            {% for subhost in subhosts %}
                <li><a target="_blank" href="//{{ subhost['subhostname'] + '.' + hostname }}">{{ subhost['subhostname'] + '.' + hostname }}</a></li>
            {% endfor %}
            </ul>';
        }

        {% for subhost in subhosts %}
            {{ server(subhost['subhostname'] + '.' + hostname, '/vagrant/' + subhost['subhostname'], subhost['application']) }}
        {% endfor %}
    {% endif %}
}
