---
- hosts: all
  become: true
  roles:
    - general
    - { role: bash, when: general.config.shell == 'bash' }
    - { role: elasticsearch17, when: role.elasticsearch and elasticsearchversion == 1.7 }
    - { role: freetds, when: role.freetds }
    - git
    - { role: hhvm, when: phpversion == 'hhvm' }
    - { role: mariadb, when: role.mariadb }
    - { role: memcached, when: role.memcached }
    - { role: mongodb, when: role.mongodb }
    - { role: nginx-application-bolt2, when: "'bolt2' in applications" }
    - { role: nginx-application-bolt3, when: "'bolt3' in applications" }
    - { role: nginx-application-contao3, when: "'contao3' in applications" }
    - { role: nginx-application-drupal7, when: "'drupal7' in applications" }
    - { role: nginx-application-drupal8, when: "'drupal8' in applications" }
    - { role: nginx-application-lavarel5, when: "'lavarel5' in applications" }
    - { role: nginx-application-magento1, when: "'magento1' in applications" }
    - { role: nginx-application-shopware, when: "'shopware' in applications" }
    - { role: nginx-application-slim3, when: "'slim3' in applications" }
    - { role: nginx-application-symfony1, when: "'symfony1' in applications" }
    - { role: nginx-application-symfony2, when: "'symfony2' in applications" }
    - { role: nginx-application-symfony3, when: "'symfony3' in applications" }
    - { role: nginx-application-wordpress4, when: "'wordpress4' in applications" }
    - nginx
    - { role: nodejs012, when: role.nodejs and nodeversion == 0.12 }
    - { role: nodejs4, when: role.nodejs and nodeversion == 4 }
    - { role: nodejs5, when: role.nodejs and nodeversion == 5 }
    - { role: nodejs6, when: role.nodejs and nodeversion == 6 }
    - { role: nodejs6, when: role.nodejs and nodeversion == 7 }
    - { role: nodejs6, when: role.nodejs and nodeversion == 8 }
    - { role: php55-original, when: phpversion == '5.5-original' }
    - { role: php55, when: phpversion == 5.5 }
    - { role: php56, when: phpversion == 5.6 }
    - { role: php70, when: phpversion == 7.0 }
    - { role: php71, when: phpversion == 7.1 }
    - php-tools
    - php-application
    - { role: php-application-drupal7, when: "'drupal7' in applications" }
    - { role: php-application-drupal8, when: "'drupal8' in applications" }
    - { role: php-application-slim3, when: "'slim3' in applications" }
    - { role: php-application-symfony2, when: "'symfony2' in applications" }
    - { role: php-application-symfony3, when: "'symfony3' in applications" }
    - { role: php-application-wordpress4, when: "'wordpress4' in applications" }
    - { role: postgresql, when: role.postgresql }
    - { role: redis, when: role.redis }
    - { role: ruby, when: role.ruby }
    - { role: zsh, when: general.config.shell == 'zsh' }
    - cleanup
