autoload -U colors && colors

{% for setopt, active in zsh.config.setopt.iteritems() %}
{% if active %}
setopt {{ setopt }}
{% endif %}
{% endfor %}

{% if zsh.framework == 'ohmyzsh' == true %}
ZSH=$HOME/.oh-my-zsh
ZSH_THEME={{ zsh.ohmyzsh.theme }}

plugins=({{ zsh.ohmyzsh.plugins|join(' ') }})
{% endif %}

{% macro row(key, value, prefix) -%}
{% if value is string and value[:6] == 'base64' %}
{% set value = value[6:]|b64decode %}
{% endif %}
{% if prefix %}{{ prefix }} {% endif %}{{ key }}={{ value }}
{%- endmacro %}

{% for alias, value in zsh.config.alias.iteritems() %}
{{ row(alias, value, 'alias') }}
{% endfor %}

{% for export, value in zsh.config.export.iteritems() %}
{{ row(export, value, 'export') }}
{% endfor %}

{% if zsh.framework == 'ohmyzsh' %}source $ZSH/oh-my-zsh.sh{% endif %}
{% if zsh.framework == 'prezto' %}
# Source fonts.
source ~/.fonts/*.sh

POWERLEVEL9K_MODE='awesome-fontconfig'

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# POWERLEVEL9K customizations
POWERLEVEL9K_PROMPT_ON_NEWLINE=true

POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(os_icon context dir_writable dir)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status php_version symfony2_version command_execution_time root_indicator time)

POWERLEVEL9K_PHP_VERSION_BACKGROUND='099'
{% endif %}

if [ -d ~/.application_aliases ]; then
    for filename in ~/.application_aliases/*; do
        if [ -f $filename ]; then
            . $filename
        fi
    done
fi

cd /vagrant
