autoload -U colors && colors

{% for setopt, active in zsh.config.setopt.iteritems() %}
{% if active %}
setopt {{ setopt }}
{% endif %}
{% endfor %}

{% if zsh.ohmyzsh.enable == true %}
ZSH=$HOME/.oh-my-zsh
ZSH_THEME={{ zsh.ohmyzsh.theme }}

plugins=({{ zsh.ohmyzsh.plugins|join(' ') }})
{% endif %}

{% macro row(key, value, prefix) -%}
{% if value is string and value[:6] == 'base64' %}
{% set value = value[6:]|b64decode %}
{% endif %}
{% if prefix %}{{ prefix }} {% endif %}{{ key }}={{ value }}
{%- endmacro %}

{% for alias, value in zsh.config.alias.iteritems() %}
{{ row(alias, value, 'alias') }}
{% endfor %}

{% for export, value in zsh.config.export.iteritems() %}
{{ row(export, value, 'export') }}
{% endfor %}

{% if zsh.ohmyzsh.enable == true %}source $ZSH/oh-my-zsh.sh{% endif %}

if [ -d ~/.application_aliases ]; then
    for filename in ~/.application_aliases/*; do
        if [ -f $filename ]; then
            . $filename
        fi
    done
fi

cd /vagrant
